.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

body {
  background-image: url("https://imgix.ranker.com/user_node_img/50058/1001144666/original/h-photo-u1?w=650&q=50&fm=jpg&fit=crop&crop=faces");
  background-size: 100%;
  background-color: #cccccc;
  vertical-align: text-top;
}

h1 {
  text-align: center;
  font-size: 80px;
  font-family: 'Amatic SC', cursive;
}

#select-city {
  text-align: center;
}

#current-city {
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
}

p {
  text-align: center;
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
}

#temperature-up {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  width: 20%;
  background-color: red;
}

#temperature-down {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  width: 20%;
  background-color: blue;
}

#temperature-reset {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  width: 10%;
  background-color: purple;
  color: white;
}

#power-saving-on {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  width: 5%;
  background-color: green;
}

#power-saving-off {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  width: 5%;
  background-color: red;
}

#Submit {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  width: 5%;
  background-color: purple;
  color: white;
}
